body {
    font-family: Arial, sans-serif;
    background-color: #ec0505;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contact-menu {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-menu h2 {
    margin-bottom: 20px;
}

.contact-menu ul {
    list-style: none;
    padding: 0;
}

.contact-menu ul li {
    margin: 10px 0;
}

.contact-menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.contact-menu ul li a:hover {
    color: #007BFF;
}
