<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de mí</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    
</head>
<body>
    <section id="about">
        <div>
        <h2>Acerca de mí</h2>
        <p>Hola, soy jossie esteban yance , un desarrollador de software con 1 años de experiencia en el area de bakem y froner. Actualmente trabajo en [nombre de la empresa] como [tu posición], donde me encargo de [tareas principales].</p>
        <p>Tengo habilidades en [lista de habilidades], y he trabajado en proyectos como [nombre de proyectos destacados]. Mi formación incluye [títulos y certificaciones].</p>
        <p>En mi tiempo libre, disfruto de [intereses personales]. Puedes contactarme a través de [correo electrónico] o seguirme en [redes sociales].</p>
    </div>
    </section>
    <h1>algo</h1>
    <section class="prueba">
        <div>
            <img src="static/imagenes/cd65940c-026d-43c6-9700-952dd000721b.jpeg" alt="Imagen Superior" class="header-image" width="500" height="500"> 
        </div>
        <div>
            <img src="static/imagenes/cd65940c-026d-43c6-9700-952dd000721b.jpeg" alt="Imagen Superior" class="header-image" width="500" height="500"> 
        </div>
        <div>
            <img src="static/imagenes/cd65940c-026d-43c6-9700-952dd000721b.jpeg" alt="Imagen Superior" class="header-image" width="500" height="500"> 
        </div>
    </section>

    <style>
        body{
        background-image: url("static/imagenes/photo-1641908849564-925dd424017d.avif");
        background-repeat: no-repeat;
        background-size: 100%
    }
        </style>
    </body>
</body>
</html>

